/* backdrop.css */

:root {
    --primary-color: #000;
    --primary-background: #fff;
    --primary-border: #000;
    --primary-active: rgba(0, 0, 0, .5);
    --primary-enabled: rgba(0, 0, 0, .5);
    --primary-disabled: #000;
    --secondary-color: #000;
    --secondary-background: #fff;
    --secondary-border: #000;
    --drop-shadow: 0 -5px 5px rgba(0, 0, 0, .2);
}

ul.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    height: 100%;
}

li.backdrop {
    display: inline-block;
    margin: 8px;
}

main.backdrop {
    position: relative;
    display: grid;
    grid-template-rows: min-content min-content max-content;
    grid-template-columns: 1fr;
    height: 100%;
}

header.backdrop {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
}

section.backdrop {
    visibility: hidden;
    grid-row: -1;
}

section.backdrop:last-of-type, section.backdrop:target {
    visibility: visible;
}

section.backdrop:target~section.backdrop {
    visibility: hidden;
}

nav.backdrop {
    grid-row: 2;
}

nav.backdrop, section.backdrop {
    grid-column: 1;
    height: 100%;
}

nav.backdrop>*, header.backdrop>*, section.backdrop>* {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

section:nth-of-type(3):target~* li:nth-of-type(3), section:nth-of-type(2):target~* li:nth-of-type(2), section:nth-of-type(1):target~* li:nth-of-type(1) {
    /* background-color: var(--primary-active); */
    font-weight: bold;
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    main.backdrop {
        display: grid;
        grid-template-rows: 100vh 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        background-color: inherit;
        transform-style: preserve-3d;
        perspective: 1px;
        perspective-origin: center;
    }
    header.backdrop {
        position: absolute;
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
        height: 72px;
        bottom: -36px;
        font-size: 72px;
        line-height: 72px;
        box-shadow: var(--drop-shadow);
        background-color: inherit;
    }
    nav.backdrop, section.backdrop {
        scroll-snap-align: start end;
        scroll-snap-stop: always;
        background-color: inherit;
    }
    section.backdrop {
        grid-row: 2;
        padding-top: 0;
        padding-top: 52px;
        background-color: inherit;
    }
    nav.backdrop {
        grid-row: 1;
        padding-bottom: 52px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        background-color: inherit;
        z-index: -1;
    }
    ul.backdrop {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        background-color: inherit;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    li.backdrop:nth-of-type(1) {
        transform: translateZ(0.2px) scale(1.2);
    }
    li.backdrop:nth-of-type(2) {
        transform: translateZ(0.25px) scale(1.15);
    }
    li.backdrop:nth-of-type(3) {
        transform: translateZ(0.3px) scale(1.1);
    }
    li.backdrop:nth-of-type(4) {
        transform: translateZ(0.35px) scale(1.05);
    }
}